html,body{
	margin: 0;
	padding: 0;
	font-family: 'franklin-gothic-ext-comp-urw', sans-serif;
	height: 100%;
	width: 100%;
	background: #9F7260;
	overflow-x: hidden;
	/* overflow-y: hidden; */
}

img{
	max-width: 80%;
}

.empty{
	margin-top: 10px;
	font-size: large;
	font-weight: 700;
	letter-spacing: .2rem;
}

.thankYou{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	font-size: xx-large;
	font-weight: 700;
	letter-spacing: .2rem;
}

p{
	color: #220202;
}

.navbar{
	position: fixed;
	top: 0px;
	width: 100%;
	opacity: 1;
	z-index: 200;
}

.navTitle{ 
	font-size: bolder;
}

.titleContainer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.kirbyLogo{
	max-width: 20%;
}

.cartIcon{
	display: flex;
	align-items: flex-start;
}

#cartIcon:focus{
	outline: none !important;
}

.cartCount{
	background-color: #9EC38D;
	color: white;
	font-size: small;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: -10px;
	/* margin-bottom: 25px; */
	z-index: 10;
	width: 15px;
	height: 15px;
}

.cart{
	position: absolute;
	top: 40%;
	right: 7%;
	/* transform: translate(50%, 100%); */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	width: 85%;
	padding: 1rem 2rem 2rem 2rem;
	background-color: #B28DC3;
	color: white;
	border: 5px solid black;
	border-radius: 20px;
}

@media only screen and (min-width: 600px ) {
	.cart{
		width: 50%;
		right: 25%;
		transform: translate(50%, -50%);
	}
}

.cartHeader{
	font-weight: 700;
	font-size: x-large;
	letter-spacing: .2rem;
	margin-bottom: 10px;
	border-bottom: 5px solid white;
}

.cartItem{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid white;
	padding: 10px 0px;
}

.totalContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	width: 90%;
}

.cartTotal{
	font-size: large;
	font-weight: 700;
}

.cartImg{
	width: 20%;
}

.cartTitle, .cartPrice, .cartAmount{
	font-weight: 700;
	margin: 0px 10px;
	font-size: medium;
}

.navTitle:hover{
	text-decoration: none;
	color: white;
}

.navbar.accessed{
	background-color: #3A7473 !important;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.toggler {
	margin-top: 8px;
	justify-self: flex-end;
    display: flex;
	justify-content: flex-end;
	background-color: transparent;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
	
	margin-top: 6px;
	margin-right: 0px;
	margin-left:10px;
}

nav.accessed .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.accessed .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.accessed .toggler--light {
    color: #918E9B;
}

nav.accessed .toggler--slider {
    justify-content: flex-end;
}

nav.accessed p{
	color: white;
}

.navLink{
	color: #B28DC3;
	font-weight: 700;
}

.navLinkFull{
	color: white;
	font-weight: 700;
	margin: 0px 10px;
	text-decoration: none;
  }

.navLinkFull:hover{
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
}

.navLink:hover{
	text-decoration: underline;
	color: #B28DC3;
}

.sailorPixel{
	max-width: 3.5rem;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 11;
	margin: 10px 10px;

	/* background-color: red; */
}

.cartButton{
	max-width: 2rem;
}

.product-container{
	display: grid;
	background-color: transparent;
  	grid-template-columns: repeat(auto-fit, minmax(125px, 2fr));
	grid-auto-rows: auto;
	padding:0px;
	/* margin: 72px 0px 0px 0px; */
	grid-gap: 0px;
	justify-content: center;
	grid-auto-flow: dense;
	height: 100vh;
	width: 100vw;
	
}

.access-container p{
	color: white;
}

.item-text{
	width: 125px;
	text-align: center;
	/* position: absolute; */
	z-index: 10;
	opacity: 0;
	background-color: transparent;
	
}

.item{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}


.item:hover > .item-text{
	opacity: 1;
	/* position: sticky; */
}

/* .item:hover > img{
	opacity: 0;
} */

.item:hover{
	border: 1px solid black;

}

.product-container > div:nth-child(1n) {
	background-color: #B9C38D;	
  }
  
  .product-container > div:nth-child(2n) {
	background-color: #8DC3B2;
  }
  
  .product-container > div:nth-child(3n) {
		background-color: #C38D9E;
  }
  
  .product-container > div:nth-child(4n) {
		background-color: #978DC3;
  }
  
  .access-container > div:nth-child(1n) {
	background-color: #3A5874;	
  }
  
  .access-container > div:nth-child(2n) {
	background-color: #733A74;
  }
  
  .access-container > div:nth-child(3n) {
		background-color: #74563A;
  }
  
  .access-container > div:nth-child(4n) {
		background-color: #3B743A;
  }

  .fullScreen{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: red;
  }

  .productModal{
	position: absolute;
	width: 60%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 5px solid black;
	border-radius: 20px;
	z-index: 10;
  }

  @media only screen and (min-width: 600px) {
	.productModal{
		width: 40%;
	}
  }

  .modalCountContainer{
	display: flex;
	align-items: flex-end;
	margin: 0px 0px;

  }

  .modalBtn{
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-large;
  }


  .cartModalBtn{
	border-radius: 50%;
	width: 1.75rem;
	height: 1.75rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-large;
  }

  .cartModalBtn:focus{
	outline: none;
  }

  .cartModalCount{
	width: 2.75rem;
	height: 2.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 700;
	font-size: large;
	margin: 0px -15px 5px -15px;
  }


  .cartMin{
	z-index: 1;
  }

  .modalBtn:focus{
	outline: none;
  }

  .addCartBtn{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	font-weight: 700;
	font-size: small;
  }

  .addCartBtn:focus{
	outline: none;
  }

  .modalCount{
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 700;
	font-size: large;
	margin: 20px -25px;
  }

  .modalBtnContainer{
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .min{
	z-index: 1;
  }


  /* *{
  box-sizing: border-box;
  background-color: rgb(0 100 0/0.1);
} */

  .modalImg{
	max-width: 60%;
	margin-bottom: 20px;
  }

  .modalTitle{
	font-weight: 700;
	font-size: large;
	margin-bottom: 10px;
  }

  .modalPrice{
	font-weight: 700;
	font-size: medium;
  }

  .homeContainer{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #978DC3;
  }

.transparent{
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 1;
  }

.transparentBlur>:not(#modal){
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

  .shopProducts{
	font-weight: bolder;
	font-size: xx-large;
	/* align-self: center; */
	position: absolute;
	/* top: 50%;
	right: 50%; */
  }

  .enterBtn{
	font-size: xx-large;
	width: 3rem;
	font-weight: bolder;
	z-index: 9;
	color: black;
	position: absolute;
	/* top: 50%;
	right: 50%; */
	/* align-self: center; */
	/* justify-self: center; */
  }

  .enterBtn:focus{
	outline: none;
  }

  .shoppingCart{
	max-width: 90%;
  }

  .floater{ 
	position: absolute;
	align-self: flex-start;
  }


  .home-container > .icon-container{
	  margin-bottom: 10%;
  }

  .home-img{
	  width: 500px;
	  height: 500px;
  }

  .purchaseBtn{
	margin-top: 15px;
	font-weight: 700;
  }

  .clearBtn{
	margin-top: 15px;
	font-weight: 700;
	margin-right: 50px;
  }

  .purchaseBtn:focus{
	outline: none;
  }

  .clearBtn:focus{
	outline: none;
  }